<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>广东</key>
	<array>
		<string>东莞</string>
		<string>佛山</string>
		<string>深圳</string>
		<string>广州</string>
	</array>
	<key>安徽</key>
	<array>
		<string>淮北市</string>
		<string>马鞍山市</string>
		<string>淮南市</string>
		<string>芜湖市</string>
		<string>蚌埠市</string>
		<string>合肥市</string>
	</array>
	<key>江西</key>
	<array>
		<string>吉安</string>
		<string>景德镇</string>
		<string>鹰潭</string>
		<string>抚州</string>
		<string>宜春</string>
		<string>上饶</string>
		<string>萍乡</string>
		<string>新余</string>
		<string>九江</string>
		<string>赣州</string>
		<string>南昌</string>
	</array>
	<key>河南</key>
	<array>
		<string>三门峡</string>
		<string>许昌</string>
		<string>南阳</string>
		<string>开封</string>
		<string>郑州</string>
	</array>
	<key>广西</key>
	<array>
		<string>南宁市</string>
		<string>柳州市</string>
		<string>桂林市</string>
		<string>梧州市</string>
		<string>北海市</string>
		<string>防城港市</string>
	</array>
	<key>福建</key>
	<array>
		<string>厦门</string>
		<string>福州</string>
	</array>
	<key>新疆</key>
	<array>
		<string>乌鲁木齐</string>
	</array>
	<key>云南</key>
	<array>
		<string>大理</string>
		<string>昆明</string>
	</array>
	<key>贵州</key>
	<array>
		<string>贵阳</string>
	</array>
	<key>湖南</key>
	<array>
		<string>武冈市</string>
		<string>常德市</string>
		<string>邵阳市</string>
		<string>长沙</string>
		<string>耒阳市</string>
		<string>湘乡市</string>
		<string>衡阳市</string>
		<string>株洲市</string>
	</array>
	<key>湖北</key>
	<array>
		<string>随州市</string>
		<string>咸宁市</string>
		<string>黄冈市</string>
		<string>孝感市</string>
		<string>鄂州市</string>
		<string>荆门市</string>
		<string>宜昌市</string>
		<string>荆州市</string>
		<string>十堰市</string>
		<string>黄石市</string>
		<string>襄阳市</string>
		<string>武汉市</string>
	</array>
	<key>河北</key>
	<array>
		<string>邢台市</string>
		<string>邯郸市</string>
		<string>石家庄市</string>
	</array>
</dict>
</plist>
